PORT=3002
NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/linkbeet_profile
JWT_SECRET=your-jwt-secret
KAFKA_BROKER=localhost:9092

# Swagger
SWAGGER_PASSWORD=

# Logging
LOG_LEVEL=
LOKI_URL=

# Sentry
SENTRY_DSN=
SENTRY_PROJECT=linkbeet-profile-production
SENTRY_AUTH_TOKEN=
