PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/linkbeet_search
JWT_SECRET=your-jwt-secret
KAFKA_BROKER=localhost:9092

# Swagger
SWAGGER_PASSWORD=

# Logging
LOG_LEVEL=
LOKI_URL=

# Sentry
